[2012-12-20 16:55] francois-keith opened #2 "Constraint with multiple outputs"
Hello,

I'd like to know whether it is (or will be possible) to add a constraint than has more than one output.
I have a constraint on a vector (something like dq_min < dq < dq_max) and I'd like to add it directly (something like addConstraint(ComputeDq(x), intervals_t b, value_type s).
Since for now, this is not possible, I have to use a workaround that consists in defining m instances of the cla

[2013-03-22 02:48] #2 closed, assigned to thomas-moulard

[2013-07-25 01:52] thomas-moulard opened #19 "Write meta-functions"
Write meta-functions allowing to express:

[code]

See, for instance:
https://en.wikipedia.org/wiki/Differentiation_rules

[2013-07-25 02:10] thomas-moulard opened #20 "Support multiple variables"
We need a way to split the optimization into separate variables for which individual constraints may be expressed.

It would also be a nicer way to express parametrized functions.

[2013-07-25 02:12] thomas-moulard opened #21 "Tag variables with the group they belong to."
We would like, at least, to express the following spaces:

 * R
 * SE(n) / SO(n)

[2013-07-25 02:28] thomas-moulard opened #22 "Implement per-iteration generic callback"
Allow the user to set a per-iteration callback that will be called if the solver supports it.

This has been implemented in the Ipopt solver but it reveals the Ipopt interface which is a bad thing. A generic solution should be implemented.

[2013-07-25 06:58] bchretien opened #23 "Merge multiple Gnuplot plots"
I faced the following situation recently: if one wants to "merge" two plots (e.g. B-spline trajectory and its control points), one needs to create a new function. AFAIK, it is not yet possible to implement 2 different/distinct plot functions and merge these in one single plot.

A revamp of the whole Gnuplot support may be required to achieve this. We would probably need to distinguish the differen

[2013-08-30 01:37] thomas-moulard opened #25 "Write fuse meta-function"
We should allow functions to be combined to create a larger non-scalar function.

[2013-08-30 01:42] #19 closed, assigned to thomas-moulard

[2013-08-30 05:23] thomas-moulard opened #26 "Add support for problem conversion when the number of constraint type is reduced."
Let `P1` and `P2` be two types.

`P1` is templated by `<F, C0, C1, ... CN>`
and `P2` is templated by  `<F, C0, C1, ..., CN-1>`

`P2` can always be converted to `P1`.
A copy constructor (or at least a test) should be added for this case.

@bchretien this shoud fix your current issue with NAG/Ipopt problem solver switch.

[2013-09-13 03:55] thomas-moulard opened #27 "Write bind meta-function"

[2013-10-01 02:41] #22 closed, assigned to nobody

[2013-10-01 06:26] thomas-moulard opened #28 "Add sensible default logger using perIteration callback"

[2013-10-01 09:14] #28 closed, assigned to thomas-moulard

[2013-10-02 08:30] thomas-moulard opened #29 "Add a callback after a computation is realized"
Add the possibility in `OptimizationLogger` to log additional functions.

[2013-10-02 08:30] thomas-moulard opened #30 "Make log4cxx optional (?)"

[2013-10-08 09:53] thomas-moulard opened #31 "Color starting point depending on whether the point is in the argument bounds or not"

[2013-10-09 06:15] #31 closed, assigned to nobody

[2013-10-11 07:24] thomas-moulard opened #32 "Build NumericalLinearFunction from any LinearFuction"
This would be a nice improvement and help solve roboptim/roboptim-core-plugin-nag#3

CC @bchretien

[2013-10-11 08:20] #32 closed, assigned to nobody

[2013-12-06 08:28] sovannara-hak opened #37 "Wrong path in roboptim/core.hh"
Line 31 in core.hh should be replaced by

[code]

Line 37:

[code]

[2013-12-06 08:39] #37 closed, assigned to nobody

[2013-12-11 21:50] bchretien opened #41 "Handle multiple callbacks"
Since one may have, for example, one callback for logging, and one callback for problem-related reasons (e.g. to detect a convergence issue), we could make it possible to use multiple callbacks.

[2013-12-12 04:45] thomas-moulard opened #43 "SolverState copy-constructor behavior is invalid"
A strategy should be found to correct the behavior of SolverState.
Currently, when a solver is copied, the underlying problem of SolverState is kept to the old value leading to a bad behavior and/or a segv if the previous object get destroyed.

This should be a high-priority fix.

[2013-12-12 04:47] thomas-moulard opened #44 "Travis is failing since the last merge"
Apparently, the last build seems too long or make Travis fails in some obscure way.

This is a high priority bug.

[2013-12-12 18:16] bchretien opened #46 "Deal with optimization parameter names"
`OptimizationLogger` currently exports parameter names as `X 0`, `X 1` etc. This is not really debug-friendly when one has a problem with hundreds/thousands of optimization parameters that could describe very different things (e.g. joint positions, contact points etc.).

![debug_example](https://f.cloud.github.com/assets/2742231/1735747/30ade076-635a-11e3-875a-d3045ae5cfee.png)

Thus, it would be

[2013-12-12 22:04] bchretien opened #47 "Update documentation"
The example given in the [documentation](http://roboptim.net/roboptim-core/doxygen/HEAD/a00013.html) is no longer up-to-date. New users may find it difficult if they rely on it :-)

[2013-12-13 01:23] #43 closed, assigned to bchretien

[2013-12-13 18:35] #44 closed, assigned to bchretien

[2014-03-25 13:10] bchretien opened #56 "Add solver (plugin) name to printed data"
While parsing `journal.log` to generate some YAML data, I realized that the plugin used (e.g. `ipopt`, `ipopt-sparse`) does not appear in the data, there's only the problem and the parameters:

[code]

It could be useful to add a `Plugin` or `Name` field to `Solver`, for instance:

[code]

We can use the string given to the `SolverFactory` for that I guess, or each plugin needs to set it.

[2014-05-03 13:54] bchretien opened #58 "Implement Hessian matrices for vector-valued functions"
If we have `f: R^n ---> R^m`,  then `Jac(f)` is a `m x n` matrix, and `Hess(f)` is a tensor of order 3 (`m x n x n`). Currently, Hessian matrices are [stored as 2D matrices](https://github.com/roboptim/roboptim-core/blob/master/include/roboptim/core/twice-differentiable-function.hh#L76), thus supposing that we deal with scalar-valued functions (`m = 1`).

Note that Hessian matrices are symmetric,

[2014-05-03 17:07] #56 closed, assigned to nobody

[2014-05-04 18:45] bchretien opened #59 "Exception specifications"
Here's the @thomas-moulard's C++ question of the week. In the code, we have some exception specifications, and we can distinguish:
- the empty list `throw ()`,
- the list of throwable exceptions, e.g. `throw (std::runtime_error)`

Lots of people seem to advise not to use these specifications ("don't bother" seems quite common as an answer):
- [SO question](http://stackoverflow.com/questions/941818

[2014-05-05 21:20] #59 closed, assigned to nobody

[2014-05-14 13:26] #23 closed, assigned to nobody

[2014-06-13 09:16] bchretien opened #62 "Travis: segmentation fault with clang (linux)"
[code]

This seems to happen after solving a problem and finding a solution, cf. similar results for the `roboptim-core-plugin-ipopt` test suite:

[code]

[2014-06-13 10:18] bchretien opened #63 "Travis: fix the use of gcc on osx"
Currently, the `osx` environment still uses `clang` when the compiler is set to `gcc`. This might be a bug in Travis since the `osx` VM is still in beta.

[2014-06-25 11:49] bchretien opened #65 "Const for impl_* methods"
cc @jorisv

Currently, all [the methods](https://github.com/roboptim/roboptim-core/blob/master/include/roboptim/core/function.hh#L451) taking care of function/gradient/hessian evaluations are `const`.

For very simple problems (e.g. the ones in the Schittkowski test suite), this is not an issue. However, for complex situations, writing efficient code may require to update some private members, thu

[2014-07-18 14:54] #63 closed, assigned to nobody

[2014-07-25 00:48] bchretien opened #67 "Travis: system includes not treated as such by gcc on osx"
Compilation currently fails on Travis with `osx` + `gcc-4.8`. It seems that system includes (e.g. `-isystem /usr/include`) end up being treated as normal includes (`-I/usr/include`), and warnings in Eigen become errors.

[code]

Possible related issue: http://public.kitware.com/Bug/view.php?id=10837

[2014-07-25 13:48] #46 closed, assigned to nobody

[2014-07-25 23:35] bchretien opened #68 "Travis: documentation no longer uploaded automatically"
The test that is failing is [this one](https://github.com/jrl-umi3218/jrl-travis/blob/master/after_success#L86):

[code]

which is translated to:

[code]

So `GH_USERNAME` is missing. Since the last successful push of the documentation was on [May, 14th](https://github.com/roboptim/roboptim-core/commit/92956f7c8839dde3a4965fa49ff33359ade16435), I guess something changed since then...

[2014-07-25 23:50] #68 closed, assigned to nobody

[2014-07-27 09:27] #27 closed, assigned to nobody

[2014-07-27 12:43] #47 closed, assigned to bchretien

[2014-07-28 08:15] #41 closed, assigned to nobody

[2014-07-30 15:31] #26 closed, assigned to nobody

[2014-08-25 09:46] bchretien opened #71 "nvcc compiler error with CUDA 6.5"
When trying to compile this simple program with `nvcc` (CUDA compiler) with CUDA 6.5:

[code]

[code]

[code]

with of course absolutely no information as to where this is happening in the headers...

However, if you rename the file to `test.cc` (thus the program will be compiled with `gcc`), everything works just fine as expected:

[code]

This could be an error in `nvcc` or something that can be

[2014-08-25 11:19] #71 closed, assigned to nobody

[2014-09-18 13:16] bchretien opened #72 "High heap usage with CachedFunction"
Blindly using `CachedFunction` can result in a huge heap usage.

Indeed, we currently use some `std::maps` which are only cleared when we call `reset()`. Using a LRU cache (or any other adapted [cache algorithm](https://en.wikipedia.org/wiki/Cache_algorithms#Examples)) could improve things.

[2014-09-24 18:14] bchretien opened #73 "C++11?"
cc @thomas-moulard

C++14 is out, and the urge to use C++11 features is getting strong. What is currently stopping us from moving to C++11? Ubuntu 12.04's GCC? Most features seem to be available with [GCC 4.6](https://gcc.gnu.org/gcc-4.6/cxx0x_status.html), and that may be all we need at first.

[2014-09-25 18:40] bchretien opened #74 "Clang & Boost Test: "empty macro arguments are a C99 feature""
With Boost 1.56 and clang 3.5.0, I get the following error:

[code]

It seems to be a known issue:
- http://boost.2283326.n4.nabble.com/clang-and-variadic-macro-warnings-revisited-td4666475.html
- http://comments.gmane.org/gmane.comp.compilers.clang.devel/38486

There's not much we can do, except enable C99 extensions.

[2014-09-29 10:49] #72 closed, assigned to nobody

[2014-10-07 11:20] bchretien opened #76 "Add Windows (MSVC) support"
Some people are interested in using RobOptim on Windows, so this is worth investigating.

@kayusawa could you make a summary of your tests regarding the compilation of RobOptim on Windows? Thanks! :-)

[2014-10-20 18:16] bchretien opened #77 "Detect redundant equations"
I just had an issue with the Ipopt plugin and a problem containing some redundant equations:

[code]

Apparently, Ipopt [assumes](http://list.coin-or.org/pipermail/ipopt/2013-October/003523.html) that there is no redundancy:

The same thing probably happens in other solvers. Thus, it would be nice to detect this in a precomputation step to ease debugging (redundant constraints would be reported ba

[2014-12-16 15:27] bchretien opened #78 "Documentation size in Git repository"
The `gh-pages` branch that contains the automatically-generated documentation is getting bigger and bigger since large chunks of the documentation are modified for any commit. We should probably trim the doc once in a while (or even do it automatically when updating the documentation). Else, users will need to use the `--single-branch -b master` clone options, or `--depth` for a shallow copy, in o

[2014-12-17 09:47] bchretien opened #79 "Use Eigen::Ref"
We've been talking about this for a while (e.g. in #65) but never added a specific issue for it, so here it is.

[2015-02-09 13:02] bchretien commented on #65
I'm closing this since an early implementation of the pool is now available, and Eigen::Ref is just one revert away.

[2015-02-09 13:02] #65 closed

[2015-02-09 13:23] bchretien commented on #79
As explained in [this comment](https://github.com/roboptim/roboptim-core/pull/81#issuecomment-73506893), function methods need to be adapted to prepare for the transition to Eigen::Ref support. This will be done in other RobOptim projects soon.

[2015-02-23 10:27] jorisv opened #82 "derivable-function and function-pool unit test fail with g++ (4.7.2) and Boost (1.49)"
derivable-function and function-pool unit test fail with g++ (4.7.2) and Boost (1.49) when compiling in Release (-O3 -DNDEBUG).
The bug don't appear when compiling in Debug, and appear only for function-pool in `-O1` and `-O2`.
If I use a previous g++ version (4.6.3) the bug don't appear.
Probably a compiler issue…

derivable-function output:

[code]

function-pool output:

[code]

[2015-02-23 12:02] bchretien commented on #82
Thanks for reporting this.

For `derivable-function`, if this is indeed a compiler issue, there isn't much we can do, except find an alternative implementation in the function we use in the hope that it would not lead to the same compiler error.

For `function-pool`, this could probably be avoided with a better check for small scalars (as was done in roboptim/roboptim-trajectory#21), since differe

[2015-03-06 18:21] bchretien opened #84 "Progress towards 3.0 release for other packages"
This issue aims at tracking progress for our next release:
- [x] [roboptim-core](https://github.com/roboptim/roboptim-core)
  - [x] Prepare new API
  - [x] Enable `3.0` branch [![Build Status](https://travis-ci.org/roboptim/roboptim-core.svg?branch=3.0)](https://travis-ci.org/roboptim/roboptim-core)
- [x] [roboptim-core-plugin-ipopt](https://github.com/roboptim/roboptim-core-plugin-ipopt)
  - [x]

[2015-03-07 09:57] bchretien commented on #82
https://github.com/roboptim/roboptim-core/commit/42d6ceb3b1a76ce271854e336fae027b9ccddf50 should fix the issue with the `function-pool` test.

[2015-03-09 18:20] bchretien commented on #79
Closing this, since this now depends on the 3.0 release.

[2015-03-09 18:20] #79 closed

[2015-03-22 11:06] bchretien opened #85 "Rename "filter""
The `roboptim/core/filter` directory currently regroups classes that could be described as operators (e.g. `Plus`, `Minus`, `Scalar`, `Product`) or decorators (e.g. `CachedFunction`). It has been suggested that we could split these files in different directories with clearer names. Suggestions are welcome.

[2015-03-24 09:12] bchretien opened #86 "Quadratic function: follow the herd?"
QP solvers usually describe quadratic functions as:

    f(x) = 0.5 x^T H x + x^T g + λ

but in RobOptim, `GenericNumericQuadraticFunction` considers:

    f(x) = x^T A x + x^T b + c

Thus, we have `A = 2 H`, which may be a source of error for users used to traditional QP solvers.

[2015-03-24 09:15] #85 closed

[2015-03-24 11:33] bchretien commented on #84
We will still need to do some benchmarking for `Eigen::Ref`, but this can be done after the release.

[2015-03-24 11:33] #84 closed

[2015-03-24 13:06] bchretien commented on #78
Ok, now we have both `2.0` and `3.0` available, and I merged most of the commits. It still takes quite a lot of storage:

    * HEAD:  8.3 MiB
    * v2.0: 27.2 MiB
    * v3.0:  8.3 MiB

I guess re-generating the documentation for RobOptim 2.0 may lower the final size, but for now it should be good enough.

[2015-03-24 13:06] #78 closed

[2015-03-30 01:50] bchretien commented on #30
Some Windows users (poke @aescande) would also like to see the dependency made optional (or removed), to make Windows compilation easier. I guess we could wrap the `log4cxx` calls in some generic logging macros (`LOGGER_INIT`, `LOGGER_INFO`, `LOGGER_ERROR` etc.). Thus, disabling the logger or even changing the logger library would be fairly straightforward.

[2015-03-30 02:08] bchretien commented on #30
Ok, this is more or less the case in `core/debug.hh`, so this should be even easier than expected.

[2015-03-30 03:24] thomas-moulard commented on #30
After thinking about it, I think that having one handler stored as a static pointer to function is fine. If you want to enable logging then you got to define your handler. We can provide one printing on stdout by default. This is good enough I think :)

[2015-03-30 04:17] bchretien commented on #30
I guess we need at least `debug`, `info` and `error`. With static pointers to functions, users could log `info` to a file and error to `stderr` for instance.

[2015-03-30 04:18] thomas-moulard commented on #30
Yeah but this can just be an enum to keep a simple interface.
Then the dispatch can be done into the class somehow...

[2015-03-30 04:24] bchretien commented on #30
We can consider something like:

[code]

[2015-03-30 04:46] bchretien commented on #73
We are currently working on some really nice features that would be painful to implement without C++11 (variadic templates saving the day), so this discussion may be revived soon.

[2015-03-30 07:51] thomas-moulard commented on #30
Having this API is fine, my recommendation is to only have one underlying static variable to minimize issues with initialization/destruction as well as potential concurrency issues with multi-threading.

It is reasonable to make the assumption that you don't change the logger while solving a problem but the log method must be thread safe...

[2015-03-30 08:18] bchretien commented on #30
We can also have multiple logger instances defined by some identifier (e.g. string such as `"roboptim.core"`).

[code]

This seems to be what log4cxx is doing. This can be done with a unique global map, and `getLogger` takes care of logger creation when necessary.

Thread-safety is indeed my main concern (and the usual thorn in the side of developers when dealing with loggers).

[2015-03-31 00:15] thomas-moulard commented on #30
This is why separating the issues is important. A logger is two things:

1. A singleton (difficult to make it thread safe)
2. And a class (which can be thread safe, efficiency is another, separate, concern)

My suggestion is keeping 1. minimum, one static object, one function to set it.
Once this is done, then 2. can be implemented.

For 1. I feel that omniorb had it right:

http://omniorb.sourcef

[2015-03-31 00:44] bchretien commented on #30
Another thing to consider: a simple `const char`-based logger usually requires an extra step on the user's side to handle stringstream expressions (e.g. `"matrix: " << mat `). I guess log4cxx handles that in their macros that prefix the logged expression with a stringstream and returns the resulting string.

[2015-03-31 00:51] thomas-moulard commented on #30
Converting a matrix to a string is too slow to be done synchronously so ultimately, it is better either to copy (for small objects) or to keep a shared pointer (for bigger ones, if possible) so that you can do that separately.

One solution is to add directly into the logger the possibility to log basic types such as double, matrices and vectors to defer the transformation.

Ultimately if the data

[2015-03-31 01:10] bchretien commented on #30
This was just a dummy example, plus logging should be kept to a minimum in most cases (except in debugging scenarios where performance does not really matter).

Being able to store expressions simply containing references/pointers to large data would indeed be an interesting solution, but this is probably overkill in this case (and probably requires a lot of work). This could probably be part of a

[2015-03-31 03:40] thomas-moulard commented on #30
Yeah, of course. My only point is that if you make an interface at some point, it is better to have it take directly the object you want to log (matrices...) than strings as it will allow you to process them on the logger side.

[2015-03-31 03:55] bchretien commented on #30
For this, defining a `boost::variant` with supported types and expecting a user-defined visitor that describes how to deal with different types may be a solution. This just makes the user's job more difficult, since one needs to define how to deal with strings, matrices, etc.

[2015-03-31 04:42] thomas-moulard commented on #30
Yeah something like that. I would be more in favor to just use an abstract class to avoid the maintenance cost of the template. A more complex design could allow the user to register its own type but again this seems a bit too much knowing that we mainly log vector and matrices.

[2015-04-03 02:08] bchretien opened #87 "Team discussion: gitter or slack?"
We should really start to use that kind of solution, since the pool of users/contributors is increasing, and having to contact different contributors on a per-topic basis to have their thoughts is quite inconvenient for me. With a chat room system that integrates well with GitHub/Travis (i.e. supports their hooks), we may be able to improve our current workflow.

So, question for the developers/co

[2015-04-03 05:13] thomas-moulard commented on #87
Gitter seems cool, but if someone has a compelling argument I don't mind slack either ˆˆ

[2015-04-03 08:58] bchretien commented on #87
I would also say gitter, since the developers seemed nice and reactive when users reported bugs.

[2015-04-06 06:55] bchretien opened #88 "Note on set_is_malloc_allowed"
We should wrap the calls to/reimplement `Eigen::set_is_malloc_allowed` since it modifies a `static` variable in an Eigen method, and a different variable may be updated when someone using RobOptim wants to update the same variable:
[code]

[2015-04-06 11:10] bchretien commented on #87
Going for gitter.

[2015-04-06 11:10] #87 closed

[2015-04-13 08:10] fdarricau opened #90 "gradient assignation in numeric-quadratic-funtion.hh fails"
Following Pull Request #89, it seems that the way gradient_t is defined (using rowVectors) is causing it to fail.

Indeed, in the line
https://github.com/roboptim/roboptim-core/blob/master/include/roboptim/core/numeric-quadratic-function.hxx#L120
the assignment gradient.noalias() = 2 * a_ * x; triggers an unwanted allocation, that causes the test suite to fail if ROBOPTIM_DO_NOT_CHECK_ALLOCATION i

[2015-04-13 09:06] #90 closed

[2015-04-15 04:43] #88 closed

[2015-04-27 04:32] bchretien opened #93 "Known Eigen bugs"
This issue list known Eigen bugs that may impact RobOptim users:
- [ ] [Crash when accessing sparse matrix row](http://eigen.tuxfamily.org/bz/show_bug.cgi?id=980) - fixed in Eigen's [3fcd51f0b38a](https://bitbucket.org/eigen/eigen/commits/3fcd51f0b38a/) (v3.2)
- [ ] [Error with sparse vector and transpose of matrix](http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1005) - fixed in Eigen's [e99ca53c93

[2015-05-21 06:30] bchretien opened #95 "Coverity scan down"
Coverity Scan has been down since yesterday:

[code]

If it takes longer than that, I'll disable Coverity support temporarily.

[2015-05-21 10:17] bchretien commented on #95
Update:

[2015-05-21 11:59] bchretien commented on #21
This feature is currently being made available in RobOptim thanks to the [manifolds](https://github.com/stanislas-brossette/manifolds) and [roboptim-core-manifold](https://github.com/roboptim/roboptim-core-manifold) libraries. This is still under heavy development, and since this now concerns a new optional RobOptim extension, I'm closing this issue.

[2015-05-21 11:59] #21 closed

[2015-05-21 14:24] bchretien commented on #76
Note regarding CI support for Windows: I recently noticed that some open-source projects now use [AppVeyor](https://ci.appveyor.com), which could very roughly be seen as Travis for Windows.

[2015-05-22 01:45] bchretien commented on #95
Back online and we're now using the Travis add-on.

[2015-05-22 01:45] #95 closed

[2015-06-09 04:56] bchretien commented on #93
Second error fixed in [e99ca53c931b](https://bitbucket.org/eigen/eigen/commits/e99ca53c931b/).

[2015-07-17 19:27] ahundt opened #100 "Difficulty installing roboptim-core from homebrew"
It tried installing roboptim-core from homebrew, but it failed. Here is the diagnostic info:

https://gist.github.com/466dcf1146052896ee28

which is from this command sequence you provided in the instructions:

[code]

I believe all the other ones failed too, but they probably require the core anyway.

[2015-07-18 04:28] bchretien commented on #100
Thanks for reporting this! The problem is [here](https://gist.github.com/anonymous/466dcf1146052896ee28#file-02-make-L880-L881), there's actually an extra build-time dependency on texlive-core/ghostscript (or whatever their name is on homebrew) for generating the documentation. Thus, we have 2 options here:

* Add LaTeX as a dependency in the homebrew formula, but I don't use a Mac (@thomas-moular

[2015-07-18 08:57] bchretien commented on #100
Since the homebrew formulae target the latest releases (and they need a version bump), for now we will need to add the LaTeX-related dependencies, but this should no longer be the case for the next releases (cf. jrl-umi3218/jrl-cmakemodules#57).

[2015-07-20 01:35] #100 closed

[2015-07-20 18:15] ahundt commented on #100
Thanks, I'm planning on using this with the [Posture Generator](https://github.com/jorisv/PG) library. I also wouldn't mind cloning and compiling the code myself. Is there a branch that is better to use than master?

[2015-07-20 18:24] ahundt commented on #100
I tried running my script again, reproduced below. However several of the dependencies still failed.

[code]

For example: here is the next error on the list:

[code]

[2015-07-21 02:24] bchretien commented on #100
For the PG (cc @jorisv), the only RobOptim packages you need are `roboptim-core` and `roboptim-core-plugin-ipopt` (which is missing from the [CMakeLists.txt](https://github.com/jorisv/PG/blob/master/CMakeLists.txt#L27-L30)), and apparently the old 2.0 API is used.

[2015-07-22 03:25] ahundt commented on #100
Ok, thanks for the info. Are the 2.0 components still present in the current API or has there been a breaking change? That is, do I need to use an old version or will the current one run with it?

[2015-07-22 04:09] bchretien commented on #100
The API changed quite a lot, mostly [from version 2.0 to 3.0](https://github.com/roboptim/roboptim-core/releases/tag/v3.0), the biggest change involves the functions and was required since we now use `Eigen::Ref` to avoid costly allocations/copies.

I don't know if @jorisv plans on updating it, but just in case: most of it can be solved with some simple regular expressions, and the details are exp

[2015-07-28 00:30] AdamWill opened #102 "Tests fail with eigen 'unaligned array assert' on 32-bit (with GCC 5?)"
Hi, folks. I've been working on updating the Fedora roboptim package to 3.1. I have it building, and on x86_64 builds the test suite passes 100% - but on i686 builds, 4 of the tests fail, all with approximately the same error:

    MatrixOrArrayOptions, 16>::plain_array() [with T = double; int Size = 2; int MatrixOrArrayOptions = 0]: Assertion `(reinterpret_cast<size_t>(eigen_unaligned_array_asser

[2015-07-28 01:00] AdamWill commented on #102
Building with `-DEIGEN_DONT_ALIGN` works around most of the failures, but one (which seems a bit different) remains:

    41: /builddir/build/BUILD/roboptim-core-3.1/tests/decorator-finite-difference-jacobian.cc(235): error in "finite_difference_jacobian<N8roboptim16EigenMatrixDenseE>": check output->match_pattern () failed. Mismatch at position 640

http://koji.fedoraproject.org/koji/watchlogs?ta

[2015-07-28 04:36] bchretien commented on #102
Hi Adam,

Thanks for packaging it for Fedora and reporting these issues, this is greatly appreciated. Most (if not all) of us use RobOptim on 64-bit systems, and Travis also runs on 64-bit VMs, so 32-bit support is clearly not as foolproof.

A typical problem is indeed Eigen's alignment for fixed-size vectors/matrices. We (nearly) always use dynamic-size containers (`vector_t`, `argument_t`, `jaco

[2015-07-28 04:47] AdamWill opened #103 "3.0 and 3.1 tarballs are missing .version files"
As the comments in `cmake/version.cmake` make very clear, stable release tarballs are supposed to include a `.version` file, as their version cannot be figured out from git metadata because they contain no git metadata.

The 2.0 release tarballs have the `.version` file, but the 3.0 and 3.1 tarballs do not, so when you build from the 3.0 or 3.1 tarballs, the project version is set to `UNKNOWN-dirt

[2015-07-28 04:59] bchretien commented on #103
Good catch :+1: That's my bad, I had some issues with the automated tarball generation from the jrl-cmakemodules, and forgot the re-add these.

[2015-07-28 06:09] AdamWill commented on #103
This also applies to roboptim-trajectory, and I guess maybe other plugins too; should I file a separate issue or is it not needed? Thanks!

[2015-07-28 06:11] bchretien commented on #103
This will be the same for all the `>= 3.0` releases, so this issue should be enough.

[2015-07-28 13:41] bchretien commented on #102
If Fedora packaging scripts accept bundled patches (or if you have a 32-bit system/VM available), could you test 8b03203596548e36a41f02d7f48856d67e077da8 with the latest release to see if it solves the problem?

[2015-07-28 15:23] AdamWill commented on #102
Indeed, with that all tests pass on an i686 build, thanks!

[2015-07-28 15:45] bchretien commented on #102
Perfect! Closing this issue then.

[2015-07-28 15:45] #102 closed

[2015-07-28 16:17] AdamWill commented on #102
Tests also pass on ARM, in case you were wondering :)

[2015-07-28 16:52] bchretien commented on #103
Updated releases:

- [x] roboptim-core 3.1
- [ ] roboptim-core-plugin-ipopt 3.1
- [ ] roboptim-core-python 3.1
- [ ] roboptim-trajectory 3.1

Do you really need the 3.0 release too?

[2015-07-28 16:54] AdamWill commented on #103
Personally, not at all, I just mentioned it to help you identify where the problem started.

[2015-07-28 17:07] bchretien commented on #102
That's good to know! Btw the Fedora package information needs to be updated (e.g. "Project Homepage" should be http://roboptim.net).

[2015-07-28 17:12] bchretien commented on #103
Ok, this is just not as urgent as the latest stable release (3.1). The semi-automated command (from the jrl-cmakemodules) does work as intended, so I'll probably just re-generate the other tarballs while going for lunch tomorrow.

[2015-07-28 18:00] AdamWill commented on #102
I already fixed that, but thanks :)

[2015-07-29 03:07] bchretien commented on #103
The 3.1 tarballs should be ok now. I'll close this once you confirm that everything is fine.

[2015-08-23 17:41] VishnuDevA7 opened #104 "Running a new program"
Hi, I am quite new to Linux as such. I am trying to use Roboptim ipopt plugin to optimize a highly nonlinear function with nonlinear constraints. Initially to begin with, I tried to edit the example.cc file where I replaced the "td-dummy" solver with "ipopt" plugin. I am facing issues such as when compiled with g++ from terminal I get a lot of statements saying undefined references to some or the

[2015-08-24 03:02] bchretien commented on #104
First, you should not try to compile the examples manually. We use CMake to generate Makefiles (and you can see how to use it [here](https://github.com/roboptim/roboptim-core#compiling-and-installing-the-package)). Since there are several dependencies and compilation flags that need to be passed, compiling it manually is not an option, especially if you're not familiar with RobOptim.

You may also

[2015-08-24 09:46] VishnuDevA7 commented on #104
Thanks a lot!

[2015-08-24 12:23] VishnuDevA7 commented on #104
Hi, I was trying to run the first tutorial example. I have fixed everything as required and compiled it using cmake in the build directory. But now when I run it as an executable file using ./001-function | gnuplot it says ¨Error while loading shared libraries : libroboptim-core.so.3: Cannot open shared library file : No such file or directory¨. But I do find the same file in /usr/local/roboptim-c

[2015-08-24 12:32] VishnuDevA7 commented on #104
For the above problem, I exprted the LD_LIBRARY_PATH as the location where the libroboptim-core.so.3 was located and I was able to get it running. But when I wanted to execute it again, I had to export the library path again. Is there a permanent fix to this? Thanks.

[2015-08-24 14:42] bchretien commented on #104
If your libraries are installed in an unusual location, you should modify your `.bashrc` file located in `~/.bashrc` (if you're using bash), then add the export in there, e.g.:

[2015-08-24 15:25] VishnuDevA7 commented on #104
Thanks! having done that I get this error for the third tutorial that libltdl does not find plugin roboptim-core-plugin-ipopt. I am able to view that it is installed through pkg-config --modversion. I have roboptim-core, roboptim-core-pluign-ipopt, roboptim-tutorial installed as seperate directories installed in /usr/local/. And I have libltdl package also installed. Copy pasting certain files lik

[2015-08-24 17:04] bchretien commented on #104
If you installed the plugin to `/usr/local`, this is solved by doing something like:

The path may be slightly different. Use `find /usr/local -iname "roboptim-core-plugin-ipopt.so"` to find it.

[2015-08-25 22:13] VishnuDevA7 commented on #104
I was able to complete all five tutorials. Thanks for the help. But I ran into some trouble as soon as I wanted to use roboptim to solve my problem. Instead of using cfsqp, I used IPOPT plugin and was able to do the tutorial. But now I wanted to something like this. I wanted a function func() to evaluate the result for impl_compute. I tried it in the following way, but was not able to do it, I got

[2015-08-26 02:05] bchretien commented on #104
First you should retry without the exception specifiers (`throw ()`). These were removed a while ago from the API, but the `answers` branch of the tutorials was not completely updated after (it's fixed now).

[2015-08-26 10:26] VishnuDevA7 commented on #104
Ya I did remove the throw specifiers. It still returned an error. Also if I declared my function funct() as a member of the struct F and give the function definition outside the structure it throws me the error (expected constructor, destructor or type conversion before '('  token).
Also I tried this :
Since the function funct is a member of structure F, I declared it in inside the structure as
vo

[2015-08-26 10:38] VishnuDevA7 commented on #104
I was able to run it without errors once I declared it within the structure as
void funct() const;
and defined it outside the function as
void F::funct() const{}

[2015-08-26 20:56] VishnuDevA7 commented on #104
Is there a function provided by Roboptim that can calculate for the gradient through finite differences rather than we providing the gradient explicitly? My constraint functions are highly complex because they are the forward kinematics of a manipulator. And so for numerical differentiation, are any finite difference functions available in the library?

[2015-08-27 01:48] bchretien commented on #104
You can use the [FiniteDifferenceGradient](http://www.roboptim.net/roboptim-core/doxygen/HEAD/a00068.html) decorator.

[2015-08-27 10:50] VishnuDevA7 commented on #104
http://www.roboptim.net/roboptim-core/doxygen/v2.0/a00002.html   The example in this link shows usage of computing finite difference gradients. Has the API syntax been changed or can this be still used?

[2015-08-27 11:35] bchretien commented on #104
This is a link to the 2.0 API. Things may have changed a bit so try to use the latest doc. Still, for this decorator specifically, the usage is the same. If you're dealing with dense matrices:

[code]
where `function` inherits from `Function`. Then just use `fdfunction`.

[2015-09-15 01:41] bchretien commented on #104
Since this does not seem to be an actual issue, I'm now closing this.

[2015-09-15 01:41] #104 closed

[2015-09-16 10:14] bchretien opened #105 "Prepare release 3.2"
This issue aims at tracking the state of the 3.2 release.

- [x] Prepare `dev` branches
  - [x] Make `Solver` and `Problem` only templated on the matrix type
  - [x] Make `Problem` constructor take a `shared_ptr`. Const ref version kept for backward compatibility (for now...). (cf. 6cafd4cecae07facc59e16480ba17aefa1ef4b18)
  - [x] `roboptim-core` @ `dev`
  - [x] `roboptim-shared-tests` @ `dev`
  -

[2015-12-17 15:22] #103 closed

[2016-01-08 01:23] bchretien commented on #105
Follow-up work that will need to be done at some point:

- [ ] `roboptim-core-plugin-nag` (cf. roboptim/roboptim-core-plugin-nag#7)
- [ ] `roboptim-core-plugin-knitro` (cf. roboptim/roboptim-core-plugin-knitro#1)

[2016-02-04 06:26] bchretien opened #106 "CUDA: nvcc ICE with recent changes to the finite-difference classes"
Including the current `finite-difference-gradient.hh` in a program compiled with `nvcc` sends NVIDIA's compiler to outer space.

## Repro code

[code]

Then compile with:

[code]

Output:

[code]

## More information

This was tested on Arch Linux 64bit with CUDA 7.5, and roboptim-core 26dbc6334273f1e39c544cac510912133e5be844.

[2016-02-04 07:02] bchretien commented on #106
Updated repro code that does not depend on RobOptim:

[code]

[2016-02-04 07:12] bchretien commented on #106
Bug reported to the NVIDIA developers (id 1726501), hopefully they'll tell us if we're doing something fishy here, or if it's a bug in the CUDA compiler.

[2016-02-04 07:26] bchretien commented on #105
NAG and KNITRO have been updated accordingly, although not released. Still, I'm closing this.

[2016-02-04 07:26] #105 closed

[2016-02-05 02:28] bchretien commented on #106
Response from the NVIDIA developers:

In the meantime, we'll just use our workaround, so I'm closing the issue.

[2016-02-05 02:28] #106 closed

[2016-02-20 09:50] bchretien commented on #67
Apparently, this was [finally fixed](https://cmake.org/Bug/view.php?id=15953) in CMake.

[2016-03-01 10:51] phuicy opened #107 "Why don't you use FIND_PACKAGE(...)?"
In CMAKE you use includes  and  other tools such as ADD_REQUIRED_DEPENDENCY("eigen3 >= 3.2.0") to manage dependencies; instead of the more standard find_package. What is the purpose of this?

[2016-03-01 10:59] bchretien commented on #107
We are using our [jrl-cmakemodules](https://github.com/jrl-umi3218/jrl-cmakemodules) that automatically manage pkg-config support (e.g. properly setting compiler flags from dependencies), documentation, pkg-config file generation, etc. Doing things properly in pure CMake is both difficult and extremely verbose. Also, `find_package` relies on `FindXXXXX.cmake` scripts, which are often unreliable or

[2016-03-01 13:17] phuicy commented on #107
thanks. Is this true for windows?

[2016-03-01 13:21] phuicy commented on #76
In the latest stable there seems alot of issues with a windows build, that aren't dependencies.

[2016-03-01 13:21] bchretien commented on #107
Although our code base is mostly used on Linux, pkg-config is also supported on Mac OS X and Windows. For the latter, we've managed to use our CMake modules for different projects built with AppVeyor, with pkg-config support enabled (cf. jrl-umi3218/jrl-travis#28).

[2016-03-01 13:23] bchretien commented on #76
Windows support is not available yet, although we are slowly getting there (cc @aescande).

[2016-03-01 13:26] phuicy commented on #76
We have worked out quite few issues, but are still working on alot templating issues:

[code]
Will keep you informed. Is there an old binary of an older commit?

[2016-03-01 13:39] bchretien commented on #76
Thanks for looking into this. Alas I don't think anyone shared any binary yet.

[2016-03-01 13:46] francois-keith commented on #76
Just putting my 2 cents here.

I have tried to compile roboptim-core on windows very recently (I must be 1-2 commits late wrt master). Here are the errors I found (as I remember them, so this is not as precise as I'd like it to  be).
* The error you're describing `definition of dllimport function not allowed` is due to the fact that some methods / classes are now templated (but weren't in the last

[2016-03-01 13:58] phuicy commented on #76
Awesome, this is exactly what we are seeing.
I think to solve the 1st issue the ROBOPTIM_DLLAPI has to moved to a pre-declaration of the class., as:
[code]
number 2:
We set
[code]

[2016-03-01 14:06] francois-keith commented on #76
I don't think it is required to keep the ROBOPTIM_DLLAPI macro for the templated class (e.g. Problem) since the definition of the method is in the .hxx and those files are installed as well.
So there is no point AFAIK in exporting the symbols.

I compiled the unit tests as well as roboptim/roboptim-core-plugin-eigen without having any symbol issue.

[2016-03-01 14:40] bchretien commented on #76
Indeed, I'll clean this up a bit. I recently added the possibility to precompile most of the templated classes, since they are now only templated on the matrix traits (dense/sparse). However this is disabled by default since explicit template instantiation is a C++11 feature. I guess the error will appear in some other classes.

[2016-03-01 15:12] bchretien commented on #76
`ROBOPTIM_CORE_DEPRECATED` (which is equivalent to `__declspec (deprecated)` on Windows with MSVC) has to be at the beginning of function declarations/typedefs?

[2016-03-01 15:13] francois-keith commented on #76
Yes, otherwise some compilation issues may raise.

[2016-03-01 15:18] bchretien commented on #76
Ok, we can easily fix that then. I was also considering making a PR to jrl-cmakemodules to have the deprecated macros support version numbers, e.g.:

[code]

They use this for Gazebo, that way you can see exactly when a given function was deprecated when you get the warning while compiling.

[2016-03-01 15:20] bchretien commented on #76
And talking about Gazebo, they had the exact same problem:

[code]

[2016-03-01 16:14] phuicy commented on #76
Bear in mind, getting Gazebo is still not an easy experience. But this looks good.
That commit (992e734) looks very similar to what we got.

[2016-03-01 16:17] phuicy commented on #107
thanks

[2016-03-01 16:17] #107 closed

[2016-03-02 00:04] francois-keith commented on #76
@phuicy I pushed on https://github.com/francois-keith/roboptim-core the current state of my windows version.
I tested it on MSVC 2012, with the following deps:
* boost 1.55
* libtools 1.5.26
* eigen 3.2.0

@bchretien No Pull request for now, mainly because of the test issue and the fact that the result file is different between the Win32 and UNIX systems.

[2016-03-02 01:04] bchretien commented on #76
@francois-keith good catch on the bug recently added to `boost.cmake` (see jrl-umi3218/jrl-cmakemodules#76). As for the differences when printing, there are some ideas [there](http://stackoverflow.com/questions/9226400/portable-printing-of-exponent-of-a-double-to-c-iostreams). The `_set_output_format` trick could be added to our test fixtures, thus it would be automatically applied to all the RobO

[2016-03-02 01:11] bchretien commented on #76
@francois-keith well apparently [_set_output_format](https://msdn.microsoft.com/en-us/library/0fatw238.aspx), still any alternative workaround should probably be applied in our test fixtures.

[2016-03-02 04:10] bchretien commented on #76
Complementary information [here](https://connect.microsoft.com/VisualStudio/feedback/details/1368280):

So we can just check the Visual C++ version, and use `_set_output_format` if an old version is detected.

[2016-03-02 09:15] phuicy commented on #76
Awesome. Thank you

[2016-03-04 11:02] bchretien opened #108 "[Guidelines] impl_gradient vs impl_jacobian"
While most plugins do query the full constraint Jacobian through `impl_jacobian`, CFSQP can and does query single rows of the Jacobian matrix (e.g. gradient w.r.t. the `i`-th parameter for the `j`-th output of the `k`-th constraint). As a result, the plugin relies on proper `impl_gradient` implementations.

In practice, for complex multidimensional constraints, it is often easier to provide a sing

[2016-03-07 10:27] bchretien opened #109 "Remove historical config.hh/portability.hh redundancy"
The `config.hh` header is automatically generated by the jrl-cmakemodules. This is something that we already handle in `portability.hh` (except the version number), so we should probably remove that redundancy.

[2016-03-07 12:04] bchretien commented on #76
Does anyone know how MSVC behaves with explicit template instantiations and symbol exports? The weird symbol exports I had all around the code solved [this problem](https://llvm.org/bugs/show_bug.cgi?id=24815), i.e. gcc and clang behave differently (either one returns a `type attributes ignored after type is already defined` error, or the other one does not export the symbols).

[2016-03-07 12:12] #109 closed

[2016-03-10 01:06] francois-keith commented on #76
AFAIK, you can export the specialization of templated methods or methods of templated class.
I've put an example of the syntax in this repo : francois-keith/test_template_export@34e2e12

To be honest, it was much more tricky in my memory (cf stack-of-tasks/dynamic-graph@5721ccb98), so maybe I'm missing the point / the difficulty here.

[2016-03-10 01:32] bchretien commented on #76
The problem is that gcc and clang behave quite differently, so I was wondering if msvc exhibited the same problem.

* The following version works (at least the export) in clang but not gcc:

[code]

With clang and the explicit template instantiation:
[code]
Without it, the symbol is not exported as expected.

gcc error:
[code]

* The following versions works with both gcc and clang (at least the e

[2016-05-30 22:13] bchretien commented on #76
Experimental Windows support is currently available on the `dev` branch. The next step would be to validate the changes with a solver plugin.

[2016-09-20 14:08] arocchi opened #115 "Failure when compiling from source on Ubuntu xenial"
I get the following errors when compiling roboptim on ubuntu xenial (16.04)

[code]

When setting `USE_CXX11` these errors show up instead:

[code]

[2016-09-24 19:12] bchretien commented on #115
What is your version of gcc? And Eigen?

[2016-09-26 12:18] arocchi commented on #115
`gcc --version`:
[code]
`pkg-config eigen3 --modversion`:
[code]

[2016-09-26 14:15] ZahraBoroujeni opened #116 "The following tests FAILED (16 31 48 55 )"
I am using
- ubuntu 14.04.
- gcc (Ubuntu/Linaro 4.7.3-12ubuntu1) 4.7.3
- eigen3 3.2.0

the package compiled successfully however the `make test`result shows that 4 tests are failed!

[code]

[2016-09-26 19:47] bchretien commented on #116
Which version of roboptim-core are you using? (specify the latest commit hash if you're not on a release)

Can you also provide the output of the tests that failed?

[2016-09-27 09:04] ZahraBoroujeni commented on #116
roboptim-core, version 3.2-188-gff976-dirty

Error of 16 (problem) and 31(result-analyzer):
[code]

[2016-09-28 18:12] bchretien commented on #116
I will need to check with Eigen 3.2.0, this is an old version and we are not testing against it. In the meantime, could you give Eigen 3.2.9 a go? You will need to specify the Eigen include directory when building.

[2016-09-28 18:16] bchretien commented on #115
I remember issues with GCC and wrong deprecated warnings, I will need to investigate this. As for the conversion warning, a cast may be missing. In the meantime, you can disable `-Werror` (`CXX_DISABLE_WERROR` needs to be defined).

[2016-11-02 19:46] LinYuChi opened #117 "Test failed (16 31)"
Extended from the [RobOptim forum](https://groups.google.com/forum/#!topic/roboptim/rX9RPkpzLwc)

OS: Ubuntu 14.04
Compiler: gcc 4.8.4
Eigen 3.2.0
branch: master
commit hash: ff97690216ac6f75429ae5a3511f7fcf7e30063e

16(Problem) Output:

[code]

31(Problem) Output:

[code]

[2016-11-03 22:29] LinYuChi commented on #117
I upgraded eigen to 3.2.1 and get the same result.

Also, I installed Eigen 3.2.94 standalone. If you know how to substitute the eigen include path in cmake, I would like to have another test. The part finding eigen include path is wrapped in a macro, and I do not know how to manually specify the include path in this way. Thank you.

[2016-11-06 12:47] bchretien commented on #117
The error happens with sparse matrices, and older Eigen version had several bugs related to such matrices (cf. [this](https://github.com/roboptim/roboptim-core/issues/93) for instance). In order to use your recent Eigen version, can you try setting `PKG_CONFIG_PATH` accordingly? (cf. `man pkg-config`).

[2016-11-08 03:53] LinYuChi commented on #117
My installation of Eigen 3.2.94 has some problem, so I finally use the Eigen 3.2.5 debian package. Now I can pass test for core, trajectory and Ipopt-plugin. However, I would suggest set a Eigen version requirement in cmake to prevent other users from facing this problem again.

[2016-11-08 20:51] bchretien commented on #117
Indeed, thanks for the feedback!

[2016-11-08 20:57] #117 closed

[2016-12-08 16:01] gergondet commented on #115
I'm going through the same process atm and I can confirm there is issues with compiling roboptim-core on xenial with Eigen 3.2.92, actually the build also breaks on trusty with Eigen 3.2.10 (I did not test with Eigen 3.2.9). There is two compilation issues that are errors.

The first problem is [there](https://github.com/roboptim/roboptim-core/blob/master/include/roboptim/core/problem.hxx#L425). T

[2016-12-09 21:04] bchretien commented on #115
Note: possible bug reported to the Eigen bugtracker by @gergondet  [here](http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1359).

[2016-12-15 06:40] gergondet commented on #115
The first issue was resolved in Eigen development branch (and so probably part of the next 3.3 release). I guess it won't be fixed in 3.2. Eigen devs have noted that:
[code]
still compile fine in 3.2 (but not in 3.3 except on the current dev version).

We could:
1. Use `middleRows` and get (afaik) 3.2 and 3.3.2+ compatibility
2. Specialize `scaledJacobian` for sparse matrix and rewrite the `*=` li

[2016-12-16 19:55] bchretien commented on #115
@gergondet Thanks a lot for analyzing the issue :+1:

For the first problem, we should aim at supporting both Eigen 3.2 and 3.3. We can also add a template inline method that implements the scaling of the row, and specialize it for sparse matrices. That way all versions are covered (as far as we know), and we avoid too much code duplication. Later on we can improve it for cache efficiency (row-maj

[2016-12-21 23:06] #62 closed

[2016-12-21 23:11] bchretien commented on #116
After #117, we increased the minimum required Eigen version, since older versions contain known issues (especially with sparse matrices). I'm closing this since we now expect `Eigen >= 3.2.5`. Let me know if updating Eigen fixed it for you.

[2016-12-21 23:11] #116 closed

[2016-12-21 23:13] bchretien commented on #115
@arocchi: @gergondet took care of fixing the compilation for recent Eigen versions. Could you confirm that everything now works for you, so that I can close this issue?

[2017-01-10 11:08] arocchi commented on #115
@bchretien @gergondet it compiles now, thanks!

[2017-01-10 11:08] #115 closed

[2017-08-23 06:26] Red-Portal opened #119 "Build error on gcc-7"
[code]

the ```-Werror``` flag is overused too often...

[2017-10-19 19:33] bchretien commented on #119
The throw specifiers are indeed deprecated, and will be shortly removed.

[2017-10-21 13:11] #119 closed

[2020-02-04 10:32] ndehio opened #124 "build errors on branch branch origin/dev"
Using the the branch `origin/dev` I receive the following errors:

[code]

@gergondet Any idea? I used our internal posture-generator script

[2020-02-10 03:43] gergondet commented on #124
It seems to come from `-Werror` so you can run cmake with `cmake ../ -DCXX_DISABLE_WERROR=1` to disable that flag

[2020-05-08 10:54] BenziF opened #125 "Problems with "solver.hh" and "problem.hh" while compiling tutorial excercise"
I built the entire 3.1 version of the library using Robotpkg, since the Ubuntu version is only the 2.0 one, while .

The library was built, but then i implemented the code presented in the tutorial in a cpp file and tried to build my workspace using `catkin_make`. For some reason, as soon as i add the lines creating the cost function and the problem I get a series of errors, besides many warnings

[2022-05-30 09:25] lia2790 opened #126 "Failed to proper download the package"
Dear all,

I have tried to download the repo through the following command
[code]
as suggested due to the presence of submodules.

But I obtain the following errors
[code]

sorry for the Italian but basically it fails in downloading the submodules

- git://github.com/jrl-umi3218/jrl-travis.git
- git://github.com/jrl-umi3218/jrl-cmakemodules.git
- git://github.com/roboptim/roboptim-shared-tests.git

[2022-05-30 10:11] gergondet commented on #126
Hi @lia2790

GitHub has removed access through the git protocol so you have to use https instead:
[code]

Then you can re-run `git submodule update --init` to fetch the submodules and the build should work

See https://github.com/roboptim/roboptim-core/issues/124 for another possible issue down the line.

[2022-05-30 10:22] lia2790 commented on #126
hi @gergondet,

thank you very much! thanks to that, I have downloaded it correctly!